@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GreaterTheory";
  src: url("/public/fonts/GreaterTheory.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kensington";
  src: url("/public/fonts/KensingtonSetalise.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratItalic";
  src: url("/public/fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Sage";
  src: url("/public/fonts/Sage.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts/Helvetica_Now_Display.ttf") format("truetype");
}