@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GreaterTheory";
  src: url("/public/fonts/GreaterTheory.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kensington";
  src: url("/public/fonts/KensingtonSetalise.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}